body {
    background-color: #EFEFEF;
    font-family: "Lexend Giga", sans-serif;
}

div.Container {
    max-width: 80vw;
    height: 38vw;
    position: static;
    display: flex;
    flex-direction: column;
    margin-top: 1.3vw;
    margin-left: 18vw;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    background-color: #FFFF !important;

    overflow-y: auto;   /* scroll vertical */
    overflow-x: hidden; /* evita scroll lateral */
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title1 h2 {
    text-align: center;
    font-size: 1.4vw;
    font-weight: 600;
    margin-top: 1vw;
    color: rgba(0, 0, 0, 0.60);
    margin-right: 30vw;
}

.voltar {
    display: flex;
    justify-content: right;
    cursor: pointer;
}

/* === FORM === */
.formadd {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2vw;
}

/* Inputs gerais */
.formadd input,
.formadd select {
    width: 100%;
    height: 2.5vw;
    padding: 10px 14px;
    border: none;
    border-radius: 0.5vw;
    background: #f5f5f5;
    font-size: 0.8vw;
    color: #696969;
    font-weight: 300;
    transition: border 0.2s ease;
}

.formadd input:focus,
.formadd select:focus {
    outline: none;
    background: #e8e8e8;
}

/* === GRID para organizar campos === */
.formadd {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.formadd h3 {
    grid-column: 1 / -1;
    margin-top: 1vw;
    font-size: 1vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.60);
}

/* === PRODUTOS === */
.campo-produto {
    display: grid;
    grid-template-columns: 2fr 0.6fr 0.6fr 0.8fr;
    gap: 0.8vw;
    grid-column: 1 / -1; /* ocupa toda largura */
}

/* === BOTÕES === */
.botoes {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    margin-top: 0.5vw;
}

.add-btn {
    background: none;
    border: none;
    color: #696969;
    font-size: 0.8vw;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.2s ease;
}

.add-btn:hover {
    color: #333333;
}

.remove-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.remove-btn p {
    color: #696969;
    font-size: 0.7vw;
    font-weight: 600;
    margin-left: 0.5vw;
}

.remove-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.icon-lixeira {
    width: 1.1vw;
    height: auto;
}

/* === SUBMIT === */
.submit-btn {
    grid-column: 1 / -1;
    margin-top: 1vw;
    width: 15%;
    padding: 0.8vw;
    font-size: 0.85vw;
    font-weight: 600;
    color: #fff;
    background: #333;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    transition: background 0.2s ease;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.226);
}

.submit-btn:hover {
    background: #555;
}
