body {
    background-color: #EFEFEF;
    font-family: "Lexend Giga", sans-serif;
}

div.Container {
    max-width: 80vw;
    height: 38vw;
    position: static;
    display: flex;
    flex-direction: column;
    margin-top: 1.3vw;
    margin-left: 18vw;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    background-color: #FFFF !important;

    overflow-y: auto;
    /* ativa scroll vertical */
    overflow-x: hidden;
    /* evita scroll lateral */
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title1 h2 {
    text-align: center;
    font-size: 1.4vw;
    font-weight: 600;
    margin-top: 1vw;
    color: rgba(0, 0, 0, 0.60);
    margin-right: 30vw;
}

.voltar {
    display: flex;
    justify-content: right;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2vw;
}

.input {
    width: 100%;
    height: 2.5vw;
    padding: 10px 14px;
    border: none;
    border-radius: 0.5vw;
    background: #f5f5f5;
    transition: border 0.2s ease;
}

.input::placeholder {
    font-size: 1vw;
    color: #696969;
    font-weight: 300;
}

.input:focus {
    outline: none;
    border: none;
    background: #f5f5f5;
    font-weight: 300;
}

.label {
    font-weight: 600;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
    color: rgba(0, 0, 0, 0.60);
}

.campo-materia {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 0.6vw;
    align-items: center;
    margin-bottom: 0.3vw;
}

.select,
.number-input,
.input {
    width: 100%;
    height: 2.2vw;
    padding: 0 0.7vw;
    border: none;
    border-radius: 0.4vw;
    background: #f5f5f5;
    color: #696969;
    font-weight: 400;
    transition: border 0.2s ease;
    font-size: 0.8vw;
}

.input::placeholder {
    font-size: 0.7vw;
    font-weight: 400;
}

.readonly {
    background-color: #eaeaea;
    color: black;
}

.preco{
    color: #e60000 !important;
    font-weight: 600 !important;
    font-size: 0.7vw !important;
}

.select:focus,
.number-input:focus {
    outline: none;
    border: none;
    background: #c2c1c18c;
    transition: color 0.2s ease;
}

.add-button {
    margin-top: 0.5vw;
    background: none;
    border: none;
    color: #696969;
    font-size: 0.9vw;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.2s ease;
    text-align: start;
}

.add-button:hover {
    color: #333333;
}

.submit-button {
    margin-top: 1.1vw;
    width: 15%;
    padding: 0.8vw;
    font-size: 0.85vw;
    font-weight: 600;
    color: #fff;
    background: #333;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    transition: background 0.2s ease;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.226);
}

.submit-button:hover {
    background: #555;
}

.botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.3vw;
}

.remove-button p {
    color: #696969;
    font-size: 0.7vw;
    font-weight: 600;
    cursor: pointer;
    margin-left: 1vw;
}

.remove-button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.icon-lixeira {
    width: 1.1vw;
    /* responsivo */
    height: auto;
}

/* Autocomplete */
.autocomplete-wrapper {
    position: relative;
}

.sugestoes {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    font-size: 0.75rem;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
}

.sugestao {
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sugestao:hover {
    background-color: #f0f0f0;
}