.layout-container-materia {
  background-color: #efefef;
  font-family: "Lexend Giga", sans-serif;
}

.produto-container-materia {
  max-width: 80vw;
  margin-top: 1.6vw;
  margin-left: 18vw;
  border-radius: 1vw;
  background-color: #efefef;
}

/* === Cabeçalho === */
/* Cabeçalho em 3 colunas */
.header-materia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: #fff;
  padding: 1vw 1.5vw;
  border-radius: 1vw;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 1.2vw;
  font-size: 1vw;
}

/* Colunas */
.header-column {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #333;
  gap: 1.3vw;
}

.nome-column span {
  margin-left: -6vw;
  font-weight: 600;
}

.valor-column {
  justify-content: flex-end;
  margin-left: 9.5vw;
  font-weight: 600;
}

.data-column {
  justify-content: flex-end;
  margin-left: 5vw;
  font-weight: 600;
}


/* === Caixa da tabela === */
.tabela-materia {
  background-color: #fff;
  border-radius: 1vw;
  padding: 1vw;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);

  height: 32.5vw;
  overflow-y: auto;
  overflow-x: hidden;
}

/* === Tabela === */
.tabela-materia table {
  width: 100%;
  border-collapse: collapse;
}

.tabela-materia td {
  padding: 1vw 3.5vw;
  font-size: 0.8vw;
  border-bottom: 0.1vw solid #e5e5e5;
  color: #333;
}

.tabela-materia tr:hover {
  background-color: #f9f9f9;
  transition: background 0.2s ease;
}

/* Coluna código em vermelho */
.codigo {
  font-weight: bolder;
  color: #e60000;

}

/* Nome do produto como link */
.link-produto {
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;
}

.link-produto:hover {
  color: #e60000;
  text-decoration: none;
}

.preco-materia {
  font-weight: bolder;
}

.data{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5vw;
}

/* Input busca */

.input-busca-lista {
  width: 80%;
  height: 2.3vw;
  padding: 0 1.2vw;
  border: none;
  border-radius: 2vw;
  background: #f5f5f5;
  font-size: 0.9vw;
  color: #333;
  margin: 0 auto 2vw auto;
  display: block;
}

.input-busca-lista::placeholder {
  color: #888;
  font-weight: 300;
}

.input-busca-lista:focus {
  outline: none;
  border: none;
}