.layout-container {
  background-color: #efefef;
  font-family: "Lexend Giga", sans-serif;
}

.produto-container {
  max-width: 80vw;
  margin-top: 1.5vw;
  margin-left: 18vw;
  border-radius: 1vw;
  background-color: #efefef;
  /* fundo geral cinza */
}

/* === Cabeçalho === */
.produto-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2vw;
  background-color: #fff;
  padding: 1vw 1.5vw;
  border-radius: 0.6vw;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.back-icon {
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: bold;
}

.produto-label {
  font-size: 1vw;
  color: rgba(0, 0, 0, 0.6);
}

.produto-nome {
  font-size: 1vw;
  font-weight: 600;
}

.produto-codigo {
  font-size: 1vw;
  font-weight: 500;
  margin-right: 3vw;
  color: #e60000;
}

/* === Caixa da tabela === */
.tabela-container {
  background-color: #fff;
  border-radius: 0.6vw;
  padding: 1vw;
}

/* === TABELA === */
.tabela-container {
  height: 32vw;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);

  overflow-y: auto;
  overflow-x: hidden;
}

.tabela-container table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 1vw;
}

.tabela-container thead th {
  border-bottom: 0.2vw solid #e5e5e5;
  background-color: #fff;
  font-size: 1vw;
  padding: 0.8vw;
  text-align: left;
  font-weight: 600;
  position: sticky;
}

.tabela-container td {
  padding: 0.8vw 1vw;
  border-bottom: 1px solid #e5e5e5;
  color: #333;
}

.tabela-container tr:last-child td {
  border-bottom: none;
  /* remove linha da última linha */
}

.tabela-container tr:hover {
  background-color: #f9f9f9;
  transition: background 0.2s ease;
}

/* === Rodapé da Tabela === */
.tabela-footer {
  margin-top: 2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}



.right {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.total-text {
  font-size: 1.1vw;
  color: #e60000;
  font-weight: bold;
}

.remove-produto,
.editar-produto {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.3vw;
}

.remove-produto p,
.editar-produto p {
  color: #696969;
  font-size: 0.7vw;
  font-weight: 600;
  cursor: pointer;
  margin-left: 1vw;
}

.remove-produto:hover, .editar-produto:hover {
  color: #000000;
}

.icon-lixeira,
.icon-editar {
  width: 1.1vw;
  /* responsivo */
  height: auto;
}