body {
  background-color: #EFEFEF;
  font-family: "Lexend Giga", sans-serif;
}

.menu-lateral-container {
  position: fixed;
  left: 1.5vw;
  width: 15vw;
  height: 40vw;
  margin-top: 1.3vw;
  background-color: #FFF;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.103);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1vw;
}

.logo {
  max-width: 7vw;
  height: auto;
  margin-bottom: 3vw;
}

/* Seção do menu de navegação */
.menu-section {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  width: 100%;
  padding: 0.6vw 0;
  text-align: start;
  margin-left: 3vw;
  color: #000000;
  font-size: 0.8vw;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.menu-item:hover {
  color: #c41717;
}

/* Seção de Upload de arquivo */
.logo {
  cursor: pointer;
  transition: transform 0.3s;
  margin-top: auto;

}

/* .logo:hover {
  transform: scale(1.09);
} */
/* 
.upload-box {
  background: linear-gradient(135deg, #e4e3e3, #d0d0d0);
  border: 2px dashed #949393;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.upload-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plus-icon {
  font-size: 30px;
  color: #ffffff;
  line-height: 1;
}

.upload-text {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.upload-subtext {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
} */